/*
 * $Id$
 *
 * Coursework – The main style of the Futoshiki puzzle.
 *
 * This file is the result of my own work. Any contributions to the work by third parties,
 * other than tutors, are stated clearly below this declaration. Should this statement prove to
 * be untrue I recognise the right and duty of the Board of Examiners to take appropriate
 * action in line with the university's regulations on assessment.
 */
 

body {	
	margin: 0;	
}	
/*
#FutoshikiDiv 
{
	width: 500px;
	height:500px;
}*/
	
#FutoshikiTable
{
	margin: 10px auto;
	width: 580px;
	height: 580px;
	border-collapse:collapse;	
    empty-cells: show;
}

#FutoshikiTable td  {
	text-align: center;
	font-weight: bolder;
    font-family: Arial, Verdana, Sans-Serif;
    font-size: x-large;
}

#FutoshikiTable td.number 
{
	border: solid 2px #000000;
	background: #ffffaa;	
}

#FutoshikiTable td.numberChosen 
{
    border: solid 2px #000000;
	background: #90ff90;
}


#FutoshikiTable td.sign 
{
	border: none;
}